@font-face {
  font-family: "Tisa";
  src: url("../fonts/tisapro-regular-webfont.eot");
  src: url("../fonts/tisapro-regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/tisapro-regular-webfont.woff") format("woff"),
       url("../fonts/tisapro-regular-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/inconsolata-webfont.eot");
  src: url("../fonts/inconsolata-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/inconsolata-webfont.woff") format("woff"),
       url("../fonts/inconsolata-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
