* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    font-family: 'EB Garamond', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #222;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    font-family: 'Droid Serif', serif;
    font-weight: normal;
}

h1 {
    font-size: 130%;
    margin-bottom: 1em;
}

h2 {
    font-size: 120%;
}

h3, h4, h5, h6 {
    font-size: 110%;
}

strong {
    font-size: 90%;
}

p {
    margin: 1em 0em;
    font-size: 22px;
}

a {
    color: #268BD2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title a {
    font-family: 'Droid Serif', serif;
}

.title a.extra {
    color: black;
    font-weight: bold;
}

em {
    font-style: inherit;
    background: #FFFECA;
    padding: 0 0.1em;
}

p code {
    font-family: 'Inconsolata', sans-serif;
    font-size: 18px;
}

blockquote, blockquote p { font-size: 22px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding-left: 20px; padding-right: 20px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 18px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }

/* Home */

ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
    margin-left: none;
}

ul.posts li {
    line-height: 1.75em;
    margin-left: none;
}

/* About */

ul.unindent {
    margin-bottom: 2em;
    margin-left: 1.25em;
}

ul.unindent li {
    line-height: 1.75em;
}

/* Site */

.site {
    font-size: 130%;
    text-align: left;
    width: 40em;
    margin: 3em auto 2em auto;
    line-height: 1.5em;
    max-width: 90%;
}

.title {
    font-weight: bold;
}

.title h1 {
    display: inline-block;
}

.site .title a {
    color: #333333;
    text-decoration: none;
}

.site .title a:hover {
    color: black;
}

.site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
}

.site .title a.extra:hover {
    color: black;
}

.site .meta {
    color: #aaa;
}

.site a.title {
    font-weight: normal;
}

.site span.date {
    color: #aaa;
    float: right;
}

/* Posts */

#post ul, #post ol {
    margin-left: 1.25em;
}

#related {
    margin-top: 2em;
}

#related h2 {
    margin-bottom: 1em;
}

#follow {
    margin-top: 1.5em;
}

#follow #twitter {
    font-style: italic;
    color: #444
}
