* {
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
}

body {
    background-color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
}

h1 {
    font-size: 100%;
    margin-bottom: 1em;
}

h2 {
  font-size: 95%;
}

h3, h4, h5, h6 {
  font-size: 90%;
}

strong {
  font-size: 90%;
}

p {
    margin: 1em 0em;
    font-size: 17px;
}

a {
    color: #268BD2;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.extra {
    color: black;
    font-weight: bold;
}

em {
    font-style: inherit;
    background: #FFFECA;
    padding: 0 0.1em;
}

blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding-left: 20px; padding-right: 20px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }

/* Home */

ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
    margin-left: none;
}

ul.posts li {
    line-height: 1.75em;
    margin-left: none;
}

/* About */

ul.unindent {
    margin-bottom: 2em;
    margin-left: 1.25em;
}

ul.unindent li {
  line-height: 1.75em;
}

/* Site */

.site {
    font-size: 110%;
    text-align: justify;
    width: 40em;
    margin: 3em auto 2em auto;
    line-height: 1.5em;
}

.title {
    font-weight: bold;
    margin-bottom: 2em;
}

.site .title a {
    color: #333333;
    text-decoration: none;
}

.site .title a:hover {
  color: black;
}

.site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
}

.site .title a.extra:hover {
  color: black;
}

.site .meta {
  color: #aaa;
}

/* Posts */

#post ul, #post ol {
  margin-left: 1.25em;
}

#related {
  margin-top: 2em;
}

#related h2 {
  margin-bottom: 1em;
}

#follow {
  margin-top: 1.5em;
}

#follow #twitter {
  font-style: italic;
  color: #444;
}
